<h1>Restful Tasks API</h1>
<button (click)="allTasks()">Get All Tasks</button>
<ul *ngIf="tasksClicked">
    <li *ngFor="let task of tasks">{{task.title}}
        <button (click)="showTask(task._id)">Show</button>
    </li>
</ul>

<app-task *ngIf="showClicked" [tasktoShow]="show"></app-task>

<!-- <h1>New Task</h1>
<form (submit)="onSubmit()"> -->
    <!-- use the json pipe to see how newTask changes in real time -->
    <!-- <p> {{ newTask | json }} </p> -->
    <!-- <input type="text" name="title" [(ngModel)]="newTask.title" />
    <input type="text" name="description" [(ngModel)]="newTask.description" />
    <input type="submit" value="Create Task" />
</form> -->


<!-- <h1>Task List</h1>
<ul >
    <li *ngFor="let task of tasks">{{task.title}}
        <button (click)="editTask(task)">Edit</button>
        <button (click)="deleteTaskFromService(task._id)">Delete</button>
    </li>
</ul>

<form *ngIf="editClicked" (submit)="editTaskFromService()"> -->
    <!-- use the json pipe to see how newTask changes in real time -->
    <!-- <p> {{ newTask | json }} </p> -->
    <!-- <h2>Edit a Task</h2>
    <input type="text" name="title" [(ngModel)]="updateTask.title" />
    <input type="text" name="description" [(ngModel)]="updateTask.description" />
    <input type="submit" value="Update" />
</form> -->
<router-outlet></router-outlet>