<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Mongoose</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <form action="/users" method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">Your Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="Your Name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Your Age</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="age" placeholder="Your Age">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</body>
</body>
</html>