<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
</head>
<body>
    <h1>Cars</h1>
    <img src="images/BMW.png" alt="1959 BMW 507" width="400">
    <img src="images/Mercedes.png" alt="Mercedes Benz Sl 190 -1960" width="400">
    <img src="images/Corvette.png" alt="Silver Blue 1958 Corvette Resto-Mod" width="400">
</body>
</html>