<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
</head>
<body>
    <h1>Cats</h1>
    <a href="/yingyang">
        <img src="images/FluffyCat1.png" alt="kitty1" width="400">
    </a>
    <a href="/fluffnormous">
        <img src="images/FluffyCat2.png" alt="kitty2" width="400">
    </a>
    <a href="/snowball">
        <img src="images/FluffyCat3.png" alt="kitty3" width="400">
    </a>
</body>
</html>